# Byte-compiled / cache
__pycache__/
*.py[cod]

# SQLite DBs
*.db

# VS Code settings
.vscode/

# Added the binary executable file
sqlite3.exe
# OS files
.DS_Store

# Environment files
.env
*.env

# Mac system files
*.DS_Store
